#App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(50% 50% at 50% 50%, #171717 21.25%, #040404 100%);
}

#child {
  position: relative;
  /* border: 1px solid white; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#child:hover {
  cursor: grab;
}

.hex{
  border: 5px solid #1E3A8A;
  border-radius: 1rem;
  width: min-content;
  height: min-content;
  padding: 2rem;
  cursor: pointer;
}

.hex:hover{
  border: 5px solid #1d4ed8;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  row-gap: .5rem;
  flex-direction: row;
  column-gap: .5rem;
  /* border: 1px solid white; */
  height: 50%;
}

.options{
  color: white;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  background-color: #525252;
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: white;
  font-size: 3rem;
}